{% if menu.items is defined and menu %}
    <div id="sidebar" class="col-xs-12 col-sm-1 col-lg-2">
        <nav class="sidebar-menu navbar navbar-default">
            <ul class="nav nav-pills nav-stacked">
                {% for item in menu.items %}
                    {% if item.divider is defined and item.divider %}
                        <li class="nav-divider"></li>
                    {% else %}
                        <li{% if app.request.attributes.get('_route') starts with item.route %} class="active"{% endif %}>
                            <a href="{{ path(item.route) }}">
                                {% if item.icon is defined and item.icon %}
                                    <span class="{{ item.icon }}"></span>
                                {% endif %}
                                {% if item.label is defined and item.label %}
                                    {{ item.label }}
                                {% endif %}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}