/build/
/phpunit.xml
/vendor/
/web/bundles/

/.idea/
/app/config/parameters.yml

/var/*
!var/SymfonyRequirements.php

/var/cache/*
!/var/cache
!/var/cache/.gitkeep

/var/logs/*
!/var/logs
!/var/logs/.gitkeep

/var/sessions/*
!/var/sessions
!/var/sessions/.gitkeep

/web/uploads/*
!/web/uploads
!/web/uploads/.gitkeep

/web/uploads/documents/*
!/web/uploads/documents
!/web/uploads/documents/.gitkeep

/web/uploads/images/*
!/web/uploads/images
!/web/uploads/images/.gitkeep

/web/media/cache/thumbnail/uploads/images/*
!/web/media/cache/thumbnail/uploads/images
!/web/media/cache/thumbnail/uploads/images/.gitkeep
