<!DOCTYPE html>
<html>
<head>
    {% set domain_name = absolute_url(path('homepage'))|split('//')[1]|trim('/') %}
    {% block head %}
        <meta charset="UTF-8"/>
        <style>
            body {
                font-family: sans-serif;
                line-height: 24px;
                color: #333333;
            }

            h1, h2, h3, h4, h5, h6, a {
                color: #337ab7;
            }

            #title {
                text-decoration: none;
                text-align: center;
            }

            #container, #header, #footer {
                padding: 5%;
            }

            #footer small {
                padding: 5%;
                text-align: center;
                color: #337ab7;
            }

            .btn {
                display: inline-block;
                padding: 10px 16px;
                margin: 16px;
                line-height: 1.3333333;
                background-image: none;
                vertical-align: middle;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                border-radius: 6px;
                text-decoration: none;
                background-color: #337ab7;
                border-color: #2e6da4;
                text-align: center;
                white-space: nowrap;
            }

            .btn:hover {
                background-color: #2e6da4;
            }

        </style>
    {% endblock %}
</head>
<body>
{% block header %}
    <div id="header">
        <a href="{{ absolute_url(path('homepage')) }}">
            <h1 id="title">
                {{ site_name }}
            </h1>
        </a>
        <hr/>
    </div>
{% endblock %}

<div id="container">
    {% block body %}
    {% endblock %}
</div>

{% block footer %}
    <div id="footer">
        <hr/>
        <small>&copy; {{ 'now'|date('Y') }} | {{ site_author }}</small>
    </div>
{% endblock %}
</body>
</html>