{% extends 'base.html.twig' %}

{% block body %}
    <section id="posts">
        {% for post in list_post %}
            {% include 'includes/post.html.twig' %}
        {% else %}
            <p>Il n'y a aucun message à afficher</p>
        {% endfor %}
        <div class="text-center">
            {{ pagination(list_post) }}
        </div>
    </section>
{% endblock %}
