# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    # database_url: ~
    database_url:        mysql://root@localhost/livredor
    # database_host:     127.0.0.1
    # database_port:     ~
    # database_name:     livredor
    # database_user:     root
    # database_password: ~

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_from:       tech@argus-lab.com
    site_name:         "Livre d'Or"
    site_author:       "Matthias Morin"
    super_admin_pwd:   "321"
    analytics:         UA-XXXXXXXX-X

    # A secret key that's used to generate certain security-related tokens
    secret:            89befbcf084a78dd505f185552f23f1b1de441e2
