{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Tableau de bord {% endblock %}

{% block style %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row profile">
            <div class="col-xs-12 col-md-2">
                {% include "admin/includes/_sidebar.html.twig" %}
            </div>

            <div class="col-md-9">
                <div class="profile-content">
                    <h1 class="text-center">Tableau de bord</h1>
                    <p class="text-center">Pour pouvez gérez ici le contenu de <strong>{{ site_name }}</strong>.</p>
                    <p class="text-center">
                        Si un aspect du site n'est pas modifiable,
                        n'héstez pas à faire une demande de modification à l'administrateur {{ mailer_from }}
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}