{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user }}{% endblock %}

{% block body %}
    <div class="container">

        {% include "includes/_user-profile.html.twig" with {'user': user } %}

        <section id="posts">
            {% for post in posts %}
                {% include "includes/_post.html.twig" %}
            {% else %}
                <p class="text-center"><strong>{{ user }}</strong> n'a publié aucun
                    article.</p>
            {% endfor %}
            <div class="text-center">
                {{ pagination(posts) }}
            </div>
        </section>
    </div>

{% endblock %}
