{% extends "::base.html.twig" %}

{% block title %}{{ parent() }} | {{ user.username }}{% endblock %}

{% block body %}

    {% include("includes/_user-profile.html.twig") %}

    <section id="posts">
        {% for post in user.posts %}
            {% include("includes/_post.html.twig") %}
        {% else %}
            <p>Il n'y a aucun message à afficher</p>
        {% endfor %}
        {#<div class="text-center">#}
        {#{{ pagination(list_post) }}#}
        {#</div>#}
    </section>
{% endblock %}
