{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ page.title }}{% endblock %}

{% block body %}
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>
        <section>
            {% for item in page.posts %}
                {% include "includes/_post.html.twig" with { 'post': item, 'callback': app.request.uri } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
