{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ page.title }}{% endblock %}

{% block body %}
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">{{ page.title }}</h1>
        </header>
        {% for section in page.sections %}
            <section>
                <header class="section-header">
                    <h1 class="section-title">{{ section.title }}</h1>
                </header>
                {% for post in section.posts %}
                    {% include "includes/_post.html.twig" with { 'post': post, 'section': app.request.uri|callback } %}
                {% endfor %}
            </section>
        {% endfor %}
    </div>
{% endblock %}
