body {
	padding-top: 8em;
	position: relative;
	min-height: 100vh;
	padding-bottom: 15em;
}

/**
 * Colors
 */
.primary {
	color: #337ab7;
}

/**
 * User list layout
 */
h1.user-list {
	margin-bottom: 1em;
}

/**
 * Profiles layout
 */
#user-profile {
	width: 80%;
	margin: auto;
	margin-bottom: 3em;
}

#user-profile h1 {
	margin: auto;
	margin-bottom: 1em;
}

#user-picture img {
	border-radius: 50%;
}

/**
 * Posts layout
 */
#posts {
	margin-bottom: 5em;
}

article.post {
	margin-bottom: 3em;
}

.post header .glyphicon {
	margin-left: .5em;
}

.post header h3 {
	margin-top: 10px;
}
.post header {
	position: relative;
}

.post header:after{
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: -8px;
	left: 31px;
	transform: rotate(45deg);
	background-color: #337ab7;
}

.post .panel-body {
	margin-top: 1em;
}

.post .panel-body p {
	margin: 1em;
	padding: 0 2em;
	text-align: justify;
}

.post img {
	margin: 1em;
}

.post footer .glyphicon {
	margin: 0 .5em;
	color: #337ab7;
}

.post footer .pull-left,
.post footer .pull-right {
	margin: 0 1em;
}

/**
 * Post form layout
 */
#post-form {
	width: 80%;
	margin: auto;
	margin-bottom: 3em;
}

#post-form h2 span {
	color: #337ab7;
}

#post-form h2 {
	margin-bottom: 1.5em;
}

#post-form .btn span {
	margin-right: 1em;
}

}
#post-form .btn {
	margin-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
}

#post-form #post_content {
	height: 10em;
}

/**
 * Tables
 */
table {
	margin: auto;
	margin-bottom: 2em;
}

table th,
table td {
	padding: .5em 1em;
}

table th {
	padding-bottom: .8em;
}

/**
 * Flash messages
 */
div.alert {
	position: fixed;
	z-index: 9999;
	top: 7.5em;
	right: 15%;
}

/**
 * Animations
 */
.anim-alert {
	animation: 1s anim-alert;
	animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
}

@keyframes anim-alert {
	from {
		opacity: 0;
		top: -5em;
	}
	to {
		opacity: 1;
		top: 7.5em;
	}
}

/**
 * Footer layout
 */
#footer {
	margin-top: 5em;
	min-height: 10vh;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1.42383em 0;
	width: 100%;
	max-width: 100%;
}

#footer > * {
	/* Footer items margin */
	margin: 1.77778em;
	padding: 0 0 0 0.88889em;
}

#footer > * p {
	/* Footer p layout */
	margin: 0;
}

#footer ul {
	/* List items layout in footer */
	padding: 0;
	margin: 0;
}

/**
 * Footer styling
 */
#footer {
	background-color: #2a2730;
	color: #555555;
}

#footer > * {
	/* Footer items styling */
	border-left: 1px solid white;
}

#footer ul {
	/* List items styling in footer */
	list-style: none;
}

#footer a {
	/* Link styling in footer */
	text-decoration: none;
	color: white;
}

#footer a:hover {
	/* Hover effect on footer links */
	text-decoration: underline;
}
