body {
	padding-top: 5em;
}

/**
 * Posts layout
 */
#posts {
	margin-bottom: 5em;
}

#posts .post {
	width: 80%;
	margin: auto;
	margin-bottom: 3em;
}

#posts .post p {
	width: 80%;
	margin: 2em auto;
}

/**
 * Post form layout
 */
#post-form {
	width: 80%;
	margin: auto;
}

#post-form h2 {
	margin-bottom: 1.5em;
}

#post-form .btn {
	margin-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
}

#post-form #post_content {
	height: 10em;
}

/**
 * Tables
 */
table th,
table td {
	padding-left: 1em;
	padding-right: 1em;
}

table th {
	padding-bottom: .8em;
}

/**
 * Footer layout
 */
body > footer:last-of-type {
	margin-top: 5em;
}

body > footer:last-of-type {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1.42383em 0;
	width: 100%;
	max-width: 100%;
}

body > footer:last-of-type > * {
	/* Footer items margin */
	margin: 1.77778em;
	padding: 0 0 0 0.88889em;
}

body > footer:last-of-type > * p {
	/* Footer p layout */
	margin: 0;
}

body > footer:last-of-type ul {
	/* List items layout in footer */
	padding: 0;
	margin: 0;
}

/**
 * Footer styling
 */
body > footer:last-of-type,
body > div:first-of-type > footer:last-of-type {
	background-color: #2a2730;
	color: #555555;
}

body > footer:last-of-type > *,
body > div:first-of-type > footer:last-of-type > * {
	/* Footer items styling */
	border-left: 1px solid white;
}

body > footer:last-of-type ul,
body > div:first-of-type > footer:last-of-type ul {
	/* List items styling in footer */
	list-style: none;
}

body > footer:last-of-type a,
body > div:first-of-type > footer:last-of-type a {
	/* Link styling in footer */
	text-decoration: none;
	color: white;
}

body > footer:last-of-type a:hover,
body > div:first-of-type > footer:last-of-type a:hover {
	/* Hover effect on footer links */
	text-decoration: underline;
}

/**
 * Flash messages
 */
div.alert {
	position: fixed;
	top: 8em;
	right: 20%;
}
/**
 * Animations
 */
.anim-alert {
	animation: 2s anim-alert;
	animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
}

@keyframes anim-alert {
	from {
		opacity: 0;
		top: -5em;
	}
	to {
		opacity: 1;
		top: 8em;
	}
}
