body {
	padding-top: 8em;
	position: relative;
	min-height: 100vh;
	padding-bottom: 15em;
}

/**
 * Responsive scroll-top button
 */
@media (min-width: 576px) {
	#scroll-top {
		bottom: 2em !important;
		right: 2em !important;
	}
}

/**
 * Colors
 */
.primary {
	color: #337AB7;
}

/**
 * Background images
 */
.cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
}

/**
 * Profiles layout
 */
#user-profile {
	width: 80%;
	margin: auto;
	margin-bottom: 3em;
}

#user-profile h1 {
	margin: auto;
	margin-bottom: 1em;
}

.user-avatar img {
	margin: auto;
	border-radius: 50%;
	max-width: 200px;
	max-height: 200px;
}

.user-avatar div {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.user-avatar {
	text-align: center;
}

/**
 * Profile edit layout
 */
form div .form-group figure img {
	margin: 1em;
	border-radius: 1em;
	max-width: 200px;
	max-height: 200px;
}

/**
 * Admin
 */

/**
 * Sidebar menu
 */
#sidebar .user-avatar img {
	margin: auto;
}

.sidebar-username {
	text-align: center;
	font-weight: 700;
	margin-bottom: 1em;
}

.sidebar-roles {
	text-align: center;
	margin-bottom: 1em;
}

/**
 * Responsive sidebar labels
 */
@media (min-width: 768px) and (max-width: 1200px) {
	.sidebar-avatar,
	.sidebar-label {
		display: none;
	}

	#sidebar a {
		text-align: center;
	}
}

/**
 * Responsive table text overflow
 */
.table-text {
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (min-width: 768px) and (max-width: 1400px) {
	.table-text {
		max-height: 15em;
	}
}

@media (max-width: 768px) {
	.table-text {
		max-width: 15em;
	}
}

/**
 * Tabs
 */
#tabs {
	margin-bottom: 1em;
}

/**
 * Admin search boxes
 */
#search .jumbotron {
	padding: 2em;
}

#search .form-group {
	margin-bottom: 0;
}

#search .form-group > div {
	padding: 4px;
}

#search button {
	margin-right: 1em;
}

/**
 * Import Export
 */
#import-export #import .panel-body,
#import-export #export .panel-body {
	min-height: 124px;
}

/**
 * User list layout
 */
h1.user-list {
	margin-bottom: 1em;
}

#user-list {
	margin-bottom: 3em;
}

/**
 * User index sorting
 */
th.DESC a:after {
	content: "\e252";
	float: right;
	font-family: 'Glyphicons Halflings';
}

th.ASC a:after {
	content: "\e253";
	float: right;
	font-family: 'Glyphicons Halflings';
}

/**
 * Posts layout
 */
#posts {
	margin-bottom: 5em;
}

article.comment,
article.post {
	margin-bottom: 3em;
}

.comment header .glyphicon,
.post header .glyphicon {
	margin-left: .5em;
}

.comment header h1,
.post header h1 {
	font-size: 24px;
	margin-top: 10px;
}

.comment header,
.post header {
	position: relative;
}

.comment header:after,
.post header:after {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: -8px;
	transform: rotate(45deg);
}

.post header:after {
	left: 31px;
	background-color: #337AB7;
}

.comment .panel-body h4,
.post .panel-body h4,
.comment .panel-body  p,
.post .panel-body p {
	margin: 1em auto;
	padding: 0 1em;
	text-align: justify;
}

@media (min-width: 576px) {
	.comment .panel-body h4,
	.post .panel-body h4,
	.comment .panel-body p,
	.post .panel-body p {
		padding: 0 2em;
	}
}

.post img {
	margin: 1em auto auto auto;
	max-width: 200px;
	max-height: 200px;
}

.post .tags,
.post .comments {
	text-align: center;
	padding: 1em;
}

.comment footer .glyphicon,
.post footer .glyphicon {
	margin: 0 .5em;
}

.comment footer .pull-left,
.comment footer .pull-right,
.post footer .pull-left,
.post footer .pull-right {
	margin: 0 1em;
}

/**
 * Comment styling
 */
.comment header:after {
	right: 31px;
	background-color: #DFF0D8;
}

.comment footer a {
	color: #3C763D;
}

/**
 * Post form layout
 */
#post-form {
	width: 80%;
	margin: auto;
	margin-bottom: 3em;
}

#post-form h2 span {
	color: #337AB7;
}

#post-form h2 {
	margin-bottom: 1.5em;
}

#post-form .btn span {
	margin-right: 1em;
}

#post-form .btn {
	margin-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
}

#post-form #post_content {
	height: 10em;
}

/**
 * Tables
 */
table {
	margin: auto;
	margin-bottom: 2em;
}

table th,
table td {
	padding: .5em 1em;
}

table th {
	padding-bottom: .8em;
}

table th {
	min-width: 6em;
}

/******************
 * Flash messages *
 ******************/
div.alert {
	position: fixed;
	z-index: 9999;
	top: 12.5em;
	right: 15%;
}

.anim-alert {
	animation: 2s anim-alert;
	animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
	animation-iteration-count: 2;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}

@keyframes anim-alert {
	0% {
		opacity: 0;
		top: -5em;
	}
	25% {
		opacity: 1;
		top: 12.5em;
	}
	100% {
		opacity: 1;
		top: 12.5em;
	}
}

/**
 * Footer layout
 */
#footer {
	margin-top: 5em;
	min-height: 10vh;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 1.42383em 0;
	width: 100%;
	max-width: 100%;
}

#footer > * {
	/* Footer items margin */
	margin: 1.77778em;
	padding: 0 0 0 0.88889em;
}

#footer > * p {
	/* Footer p layout */
	margin: 0;
}

#footer ul {
	/* List items layout in footer */
	padding: 0;
	margin: 0;
}

/**
 * Footer styling
 */
#footer {
	background-color: #2A2730;
	color: #555;
}

#footer > * {
	/* Footer items styling */
	border-left: 1px solid white;
}

#footer ul {
	/* List items styling in footer */
	list-style: none;
}

#footer a {
	/* Link styling in footer */
	text-decoration: none;
	color: white;
}

#footer a:hover {
	/* Hover effect on footer links */
	text-decoration: underline;
}
