{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ media.title }}{% endblock %}

{% block body %}
    <div class="container">
        <header class="media-header">
            <h1 class="media-title">{{ media.title }}</h1>
        </header>
        <section>
            {% for media in listMedia %}
                {% include "includes/_media.html.twig" with { 'callback': app.request.uri|callback } %}
            {% endfor %}
        </section>
    </div>
{% endblock %}
