{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ media.title }}{% endblock %}

{% block body %}
    <div class="container">
        <section>
            {% include "includes/_media.html.twig" with { 'callback': app.request.uri } %}
        </section>
    </div>
{% endblock %}
