<div id="post-form" class="jumbotron">
    <h2>Publier un message</h2>
    {{ form_start(form_post) }}
    {{ form_widget(form_post) }}
    <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-send"></span>&nbsp;Publier</button>
    {{ form_end(form_post) }}
</div>
