<div id="post-form" class="jumbotron">
    <h2 class="text-center"><span class="glyphicon glyphicon-pencil pull-left"></span>Modifier un message</h2>
    {{ form_start(formPost) }}
    {{ form_widget(formPost) }}
    <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-send"></span>Modifier
    </button>
    {{ form_end(formPost) }}
</div>
