<div id="post-form" class="jumbotron">
    <h2 class="text-center"><span class="glyphicon glyphicon-pencil pull-left"></span>Publier un message</h2>
    {{ form_start(form_post) }}
    {{ form_widget(form_post) }}
    <input type="hidden" name="_target_path" value="{{ app.request.uri }}" />
    <button type="submit" class="btn btn-primary center-block"><span class="glyphicon glyphicon-send"></span>Publier</button>
    {{ form_end(form_post) }}
</div>
