{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Articles - Exporter{% endblock %}

{% block admin %}
    <header>
        <h1>Articles</h1>
        <h2>Exporter la liste d'articles</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Ici vous pouvez exporter la liste des articles de <strong>{{ site_name }}</strong> au format JSON.</p>
        {% else %}
            <p>Vous devez possèder des droits administrateur pour effectuer cette action.</p>
        {% endif %}
    </header>
    {% include "admin/includes/_post_tabs.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}
        <section id="export">
            <div class="col-xs-12 col-md-6">
                <div id="export" class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="text-center">
                            Exporter la liste d'articles
                        </h1>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>{{ posts|length }}</strong> articles</p>
                        <a href="{{ path('app_admin_post_exportjson', { 'join':'user-email' }) }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-export"></span>
                            Exporter au format json
                        </a>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}