{% extends "::email-base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ user|capitalize }}</h1>
    <p>
        Bienvenue sur
        <a href="{{ absolute_url(path('homepage')) }}">{{ domain_name }}</a>
    </p>

    <p>Pour valider votre compte cliquez sur le bouton suivant:<br/>
        <a class="btn" href="{{ absolute_url(path('app_token_call', {'token': msg.token })) }}">
            Valider mon compte
        </a>
    </p>
    <p>Il vous sera ensuite demandé de <strong>choisir un mot de passe</strong> pour sécuriser votre compte.</p>
    <p>Ce lien n'est valable que pour une durée de 24 heures.</p>
    <p>Si vous n'êtes pas à l'origine de cette inscription vous pouvez ignorer ce message.</p>
    <p>Cordialement</p>
{% endblock %}