{% extends "::email-base.html.twig" %}
{% block body %}
    <h1>Bonjour {{ user.username|capitalize }}</h1>
    <p>
        Bienvenue sur
        <a href="{{ absolute_url(path('homepage')) }}">{{ domain_name }}</a>
    </p>
    <p>Votre inscription à bien été prise en compte.</p>
    <p>Cordialement</p>
{% endblock %}