{% extends 'admin/admin-base.html.twig' %}

{% block title %}{{ parent() }} | Medias - Exporter{% endblock %}

{% block admin %}
    <header>
        <h1>Medias</h1>
        <h2>Exporter la liste d'medias</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <p>Ici vous pouvez exporter la liste des medias de {{ site_name }} au format JSON.</p>
        {% else %}
            <p>Vous devez possèder des droits administrateur pour effectuer cette action.</p>
        {% endif %}
    </header>
    {% include "admin/includes/_media_tabs.html.twig" %}
    {% if is_granted('ROLE_ADMIN') %}
        <section id="export">
            <div class="col-xs-12 col-md-6">
                <div id="export" class="panel panel-success">
                    <div class="panel-heading">
                        <h1 class="text-center">
                            Exporter la liste d'medias
                        </h1>
                    </div>
                    <div class="panel-body text-center">
                        <p><strong>{{ mediaList|length }}</strong> medias</p>
                        <a href="{{ path('app_admin_media_exportjson') }}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-export"></span>
                            Exporter
                        </a>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}