<div id="tabs">
    <ul class="nav nav-tabs">
        <li{% if app.request.attributes.get('_route') ends with 'index' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_comment_index') }}">
                <span class="glyphicon glyphicon-list"></span>
                Liste
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'new' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_comment_new', { 'callback': app.request.uri }) }}">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter
            </a>
        </li>
        {% if comment is defined %}
            <li{% if app.request.attributes.get('_route') ends with 'edit' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_comment_edit', { 'id': comment.id, 'callback': app.request.uri }) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ comment.post.title|truncate(20) }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>