<div class="modal fade my-modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModal"><span class="glyphicon glyphicon-trash"></span>
                    Confirmer suppression
                </h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr que vous voulez définitivement supprimer la page:<br/>
                    &quot;<strong></strong>&quot; et toutes ses sections ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                <a class="btn btn-danger">Supprimer</a>
            </div>
        </div>
    </div>
</div>