<div id="tabs">
    <ul class="nav nav-tabs">
        <li{% if app.request.attributes.get('_route') ends with 'index' %} class="active"{% endif %}>
            <a href="{{ path('app_page_index') }}">
                <i class="glyphicon glyphicon-list"></i>
                Liste
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'new' %} class="active"{% endif %}>
            <a href="{{ path('app_page_new') }}">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'edit' %} class="active"{% endif %}>
            <a href="{{ path('app_page_edit') }}">
                <i class="glyphicon glyphicon-edit"></i>
                Modifier
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'delete' %} class="active"{% endif %}>
            <a href="{{ path('app_page_delete') }}">
                <i class="glyphicon glyphicon-remove"></i>
                Supprimer
            </a>
        </li>
    </ul>
</div>