<div id="tabs">
    <ul class="nav nav-tabs">
        <li{% if app.request.attributes.get('_route') ends with 'index' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_page_index') }}">
                <i class="glyphicon glyphicon-list"></i>
                Liste
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'new' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_page_new', { 'callback': app.request.uri|callback }) }}">
                <i class="glyphicon glyphicon-plus"></i>
                Ajouter
            </a>
        </li>
        {% if page is defined %}
            <li{% if app.request.attributes.get('_route') ends with 'edit' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_page_edit', { 'id': page.id, 'callback': app.request.uri|callback }) }}">
                    <i class="glyphicon glyphicon-edit"></i>
                    {{ page.title|truncate(20) }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>