<div id="tabs">
    <ul class="nav nav-tabs">
        <li{% if app.request.attributes.get('_route') ends with 'index' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_role_index') }}">
                <span class="glyphicon glyphicon-list"></span>
                Liste
            </a>
        </li>
        <li{% if app.request.attributes.get('_route') ends with 'new' %} class="active"{% endif %}>
            <a href="{{ path('app_admin_role_new', { 'callback': callback() }) }}">
                <span class="glyphicon glyphicon-plus"></span>
                Ajouter
            </a>
        </li>
        {% if role is defined %}
            <li{% if app.request.attributes.get('_route') ends with 'edit' %} class="active"{% endif %}>
                <a href="{{ path('app_admin_role_edit', { 'id': role.id, 'callback': callback() }) }}">
                    <span class="glyphicon glyphicon-edit"></span>
                    {{ role.name }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>